#login input{
  padding: 5px;
  margin: 5px 10px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #f6f6f6;
  outline: none;
}

#login button{
  display:none;
}
#errorMessage{
  color: red;
}