.no_chat{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.no_chat .text{
  color:rgb(168, 168, 168);
}
.no_chat a{
  text-decoration: none;
}